@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  --Light-grayish-blue: hsl(240, 6%, 50%);
  --Soft-violet: #b068e9;
  --Soft-blue: #6463e7;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(var(--Soft-violet), var(--Soft-blue));
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 327px;
  background-color: #ffffff;
  border-radius: 23px;
  box-shadow: 0px 50px 50px #35127a;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}
.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-header img {
  width: 266px;
  margin-top: -105px;
}
.card-header::after {
  content: "";
  background-image: url(images/bg-pattern-mobile.svg);
  width: 240px;
  height: 105px;
  margin-top: -90px;
  margin-bottom: 28px;
}
.card-body {
  text-align: left;
  color: #1e1f36;
  width: 85%;
  margin-bottom: 48px;
}
h1 {
  text-align: center;
}
.qa {
  position: relative;
  margin-top: 20px;
}

.q:hover {
  cursor: pointer;
  color: red;
}
.q img {
  position: absolute;
  top: 0;
  right: 0;
}
.rotate-img {
  transform: rotate(180deg);
}

.a:not(.selected) {
  display: none;
}
.a {
  margin-top: 11px;
  color: #787887;
}
.line {
  border-bottom: 1px solid #e8e8ea;
  margin-top: 16px;
}
@media (min-width: 769px) {
}
